body{
    color: white!important;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0!important;
    padding: 0;
}
.text-logo{
    font-size: 40px!important;
}
.c-fs-1{
    font-size: 40px!important;
}
.c-fs-2{
    font-size: 24px!important;
}
.c-fs-3{
    font-size: 16px!important;
}
.c-fs-4{
    font-size: 12px!important;
}
.search-ico{
    width: 16px;
}
.hero-serach-cont{
    border: 1px solid rgb(148, 148, 148);
}
.search-imput{
    width: 100%;
    background: none;
    outline: 1px solid rgb(148, 148, 148);
    box-shadow: none;
    border: none;
    color: white;
}
.usecase-cont{
    background-color: #1E1E1E;
}
.youtube-home{
    height:700px ;
}
.testimonials-errow{
    width: 4rem;
    height: 4rem;
}
.sub-card{
    background: linear-gradient(180deg, #5E00D7 0%, #301455 100%);
}
.footer{
    background: linear-gradient(98.04deg, #420097 0.27%, #66005C 100.01%);
}
.download-btn{
    width: 4rem;
    height: 4rem;
}
.os-btn{
    width: 2rem;

}
a{
    text-decoration: none!important;
}
.footer-link{
    color: #727272;
}